:root{
--main-color:#6A88CA !important;
--hover-color:#556DA2 !important;
--notification-color: #787878 ! important; 
}
.justifyCenter-29N31w {
   margin-top: 4px !important;
}

/*Quiet help fenster*/
:root {
    --version-content: "" !important;
    --theme-name: "ZockerCraft" !important;
    --theme-letter: "Q";
}
.need-help-modal .header h1::after {
    content: var(--theme-name)" " var(--version-content) !important;
}
.need-help-modal .form-inner.loading::after {
    content: "C\0332 r\0332 e\0332 a\0332 t\0332 o\0332 r\0332 :\A Dragon0697#1188 \A\A P\0332 e\0332 r\0332 s\0332 o\0332 n\0332 a\0332 l\0332 S\0332 e\0332 r\0332 v\0332 e\0332 r\0332:\A discord.me/Zanrux \A\A D\0332 o\0332 n\0332 a\0332 t\0332 i\0332 o\0332 n\0332:\A paypal.me/PascalFrey \A\A C\0332 r\0332 e\0332 d\0332 i\0332 t\0332 s\0332:\A → Nils#2627 (Helper)" !important;
}

.need-help-modal .footer::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0Need help? Visit https://ZockerCraft.net" !important;
}
/*Uhr fix*/
#dv-settings-panel {
	border-top: 2px solid #212121 !important;
    border-left: 2px solid #212121 !important;
    border-right: 2px solid #212121 !important;
    border-bottom: 2px solid #212121 !important;
    background: #19191B;
    display: none;
    top: -74px;
}
.dv-btn {
    right: 2px;
    top: 0px;
}
.channel-members-wrap .channel-members {
    height: calc(100% - 95px);
}
.channel-members-wrap .scrollerWrap-2uBjct {
    height: calc(100% - -23px);
}
.channel-members::after{
   visibility: hidden;
}
#dv-btn::after {
    visibility: hidden;
}
#dv-container::after {
    background: transparent !important;
}
#dv-container {
    background: transparent;
        height: 72px !important;
    border-top: 2px solid #212121 !important;
}

/*Trennstrich*/
.container-iksrDt {
    width: calc(100% - 20px) !important;
}
.accountDetails-15i-_e .discriminator {
    right: 5px !important;
    top: -50px !important;
    margin-top: -27px !important;
    position: initial !important;
}
.accountDetails-15i-_e {
    position: initial !important;
    right: 0px !important;
    bottom: 0px !important;
    max-width: 85px !important;
    min-width: 0px !important;
}
.accountDetails-15i-_e .username {
    display: inline-block !important;
    top: -20px !important;
    font-family: inherit !important;
    font-size: 100% !important;
    margin-top: -30px !important;
    font-style: inherit !important;
    border-top-width: medium !important;
    font-weight: inherit !important;
    line-height: 70px !important;
    color: var(--main-color) !important;
    margin-bottom: 0px !important;
    min-width: 0% !important;
    text-align: center !important;
}
